* {
    margin: 0;
    padding: 0;
}

/* .game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

canvas {
    border: 1px solid black;
    background: lavender;
}
